<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pigredorou.jeudedes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tres_fute_renard_rouge"
        android:label="Jeux de dés"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tresfute.TresFute" />
        <activity android:name=".tresfute.TresFuteSolo" />
        <activity android:name=".tresfute.TresFuteFeuilleScore" />
        <activity android:name=".tresfute.TresFuteAfficheClassement" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>